<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
      
    <head th:replace="~{general/fragmentos :: head}"/>
    
    <body>
        <header th:replace="~{genera/fragmentos :: header}"/>
        
        <section>
            <h2>Esta es la tienda en linea del curso</h2>
        </section>
        
        <footer th:replace="~{general/fragmentos :: footer}"/>
        
    </body>
</html>
